ul {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

}

ul li {
    color: white;
    list-style-type: none;

    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 75px;

    margin: 15px;

    border-radius: 15px;
    border: 2px solid darkblue;
}

.fizz {
    background-color: green;
}

.buzz {
    background-color: yellow;
}

.fizz-buzz {
    background-color: rgb(88, 25, 172);
}